akismet==0.2.0
dj-database-url==0.4.1
Django==1.10.1
django-allauth==0.29.0
django-cache-tools==0.1.1
django-contrib-comments==1.7.3
django-crispy-forms==1.6.1
django-debug-panel==0.8.3
django-debug-toolbar==1.6
django-fluent-comments==1.2.2
django-mptt==0.8.6
django-tag-parser==3.0
django-taggit==0.21.3
django-threadedcomments==1.0.1
gunicorn==19.6.0
oauthlib==2.0.1
Pillow==3.4.2
pkg-resources==0.0.0
psycopg2==2.6.2
python-openid==2.2.5
requests==2.12.4
requests-oauthlib==0.7.0
sqlparse==0.2.2
whitenoise==3.2.2
