{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "idea/css/idea.css" %}">
    <link rel="stylesheet" href="{% static "idea/css/sample_style.css" %}">
    <script src="https://use.fontawesome.com/1c8baa6ee2.js"></script>

    {% if page.description %}
        <meta name="description" content="{{ page.description|striptags }}"> 
    {% endif %}

{% endblock %}

{% block content %}{% endblock %}

{% block js_scripts %}
    <script src="{% static "idea/js/functions.js" %}"></script>
{% endblock %}
